dialog {
  opacity: 0;
  transition: 0.3s ease;
  border: none;
  background: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
}
.technician,
.conectar,
.fundamentar {
  height: 100vh;
  width: 40vw;
  padding: 10px;
}
.technician img,
.conectar img,
.fundamentar img {
  height: 90%;
  width: 100%;
  border: solid 3px rgb(20, 180, 140);
}
.technician div,
.conectar div,
.fundamentar div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.vscode,
.html5,
.css3,
.js,
.react,
.react_router,
.git,
.photoshop,
.aseprite {
  display: flex;
  flex-flow: column;
  gap: 10px;
  background: rgb(35, 35, 35);
  padding: 10px;
  width: 450px;
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
  border: 3px solid;
  border-image-slice: 1;
  color: rgba(255, 255, 255, 0.8352941176);
}

.vscode h1,
.html5 h1,
.css3 h1,
.js h1,
.react h1,
.git h1,
.photoshop h1,
.aseprite h1 {
  text-align: center;
}

.vscode,
.photoshop,
.css3 {
  -webkit-animation: borderVScodeCSS3 3s linear infinite;
          animation: borderVScodeCSS3 3s linear infinite;
}

.html5,
.git {
  -webkit-animation: borderHTML5Git 3s linear infinite;
          animation: borderHTML5Git 3s linear infinite;
}

.js {
  -webkit-animation: borderJS 3s linear infinite;
          animation: borderJS 3s linear infinite;
}

.react {
  -webkit-animation: borderReact 3s linear infinite;
          animation: borderReact 3s linear infinite;
}

.aseprite {
  -webkit-animation: borderAseprite 3s linear infinite;
          animation: borderAseprite 3s linear infinite;
}

.btn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.btn button {
  height: 24px;
  width: 24px;
}

.skill-info {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 15px;
}

@-webkit-keyframes borderVScodeCSS3 {
  0% {
    border-image-source: linear-gradient(0deg, rgb(10, 70, 100), rgb(50, 165, 200), rgb(50, 165, 200));
  }
  25% {
    border-image-source: linear-gradient(90deg, rgb(10, 70, 100), rgb(50, 165, 200), rgb(50, 165, 200));
  }
  50% {
    border-image-source: linear-gradient(180deg, rgb(10, 70, 100), rgb(50, 165, 200), rgb(50, 165, 200));
  }
  75% {
    border-image-source: linear-gradient(270deg, rgb(10, 70, 100), rgb(50, 165, 200), rgb(50, 165, 200));
  }
  100% {
    border-image-source: linear-gradient(360deg, rgb(10, 70, 100), rgb(50, 165, 200), rgb(50, 165, 200));
  }
}

@keyframes borderVScodeCSS3 {
  0% {
    border-image-source: linear-gradient(0deg, rgb(10, 70, 100), rgb(50, 165, 200), rgb(50, 165, 200));
  }
  25% {
    border-image-source: linear-gradient(90deg, rgb(10, 70, 100), rgb(50, 165, 200), rgb(50, 165, 200));
  }
  50% {
    border-image-source: linear-gradient(180deg, rgb(10, 70, 100), rgb(50, 165, 200), rgb(50, 165, 200));
  }
  75% {
    border-image-source: linear-gradient(270deg, rgb(10, 70, 100), rgb(50, 165, 200), rgb(50, 165, 200));
  }
  100% {
    border-image-source: linear-gradient(360deg, rgb(10, 70, 100), rgb(50, 165, 200), rgb(50, 165, 200));
  }
}
@-webkit-keyframes borderHTML5Git {
  0% {
    border-image-source: linear-gradient(0deg, rgb(150, 60, 0), rgb(150, 60, 0), rgb(255, 100, 65));
  }
  25% {
    border-image-source: linear-gradient(90deg, rgb(150, 60, 0), rgb(150, 60, 0), rgb(255, 100, 65));
  }
  50% {
    border-image-source: linear-gradient(180deg, rgb(150, 60, 0), rgb(150, 60, 0), rgb(255, 100, 65));
  }
  75% {
    border-image-source: linear-gradient(270deg, rgb(150, 60, 0), rgb(150, 60, 0), rgb(255, 100, 65));
  }
  100% {
    border-image-source: linear-gradient(360deg, rgb(150, 60, 0), rgb(150, 60, 0), rgb(255, 100, 65));
  }
}
@keyframes borderHTML5Git {
  0% {
    border-image-source: linear-gradient(0deg, rgb(150, 60, 0), rgb(150, 60, 0), rgb(255, 100, 65));
  }
  25% {
    border-image-source: linear-gradient(90deg, rgb(150, 60, 0), rgb(150, 60, 0), rgb(255, 100, 65));
  }
  50% {
    border-image-source: linear-gradient(180deg, rgb(150, 60, 0), rgb(150, 60, 0), rgb(255, 100, 65));
  }
  75% {
    border-image-source: linear-gradient(270deg, rgb(150, 60, 0), rgb(150, 60, 0), rgb(255, 100, 65));
  }
  100% {
    border-image-source: linear-gradient(360deg, rgb(150, 60, 0), rgb(150, 60, 0), rgb(255, 100, 65));
  }
}
@-webkit-keyframes borderJS {
  0% {
    border-image-source: linear-gradient(0deg, rgb(215, 180, 35), rgb(215, 180, 35), rgb(250, 240, 170));
  }
  25% {
    border-image-source: linear-gradient(90deg, rgb(215, 180, 35), rgb(215, 180, 35), rgb(250, 240, 170));
  }
  50% {
    border-image-source: linear-gradient(180deg, rgb(215, 180, 35), rgb(215, 180, 35), rgb(250, 240, 170));
  }
  75% {
    border-image-source: linear-gradient(270deg, rgb(215, 180, 35), rgb(215, 180, 35), rgb(250, 240, 170));
  }
  100% {
    border-image-source: linear-gradient(360deg, rgb(215, 180, 35), rgb(215, 180, 35), rgb(250, 240, 170));
  }
}
@keyframes borderJS {
  0% {
    border-image-source: linear-gradient(0deg, rgb(215, 180, 35), rgb(215, 180, 35), rgb(250, 240, 170));
  }
  25% {
    border-image-source: linear-gradient(90deg, rgb(215, 180, 35), rgb(215, 180, 35), rgb(250, 240, 170));
  }
  50% {
    border-image-source: linear-gradient(180deg, rgb(215, 180, 35), rgb(215, 180, 35), rgb(250, 240, 170));
  }
  75% {
    border-image-source: linear-gradient(270deg, rgb(215, 180, 35), rgb(215, 180, 35), rgb(250, 240, 170));
  }
  100% {
    border-image-source: linear-gradient(360deg, rgb(215, 180, 35), rgb(215, 180, 35), rgb(250, 240, 170));
  }
}
@-webkit-keyframes borderReact {
  0% {
    border-image-source: linear-gradient(0deg, rgb(0, 210, 210), rgb(0, 210, 210), rgb(195, 255, 255));
  }
  25% {
    border-image-source: linear-gradient(90deg, rgb(0, 210, 210), rgb(0, 210, 210), rgb(195, 255, 255));
  }
  50% {
    border-image-source: linear-gradient(180deg, rgb(0, 210, 210), rgb(0, 210, 210), rgb(195, 255, 255));
  }
  75% {
    border-image-source: linear-gradient(270deg, rgb(0, 210, 210), rgb(0, 210, 210), rgb(195, 255, 255));
  }
  100% {
    border-image-source: linear-gradient(360deg, rgb(0, 210, 210), rgb(0, 210, 210), rgb(195, 255, 255));
  }
}
@keyframes borderReact {
  0% {
    border-image-source: linear-gradient(0deg, rgb(0, 210, 210), rgb(0, 210, 210), rgb(195, 255, 255));
  }
  25% {
    border-image-source: linear-gradient(90deg, rgb(0, 210, 210), rgb(0, 210, 210), rgb(195, 255, 255));
  }
  50% {
    border-image-source: linear-gradient(180deg, rgb(0, 210, 210), rgb(0, 210, 210), rgb(195, 255, 255));
  }
  75% {
    border-image-source: linear-gradient(270deg, rgb(0, 210, 210), rgb(0, 210, 210), rgb(195, 255, 255));
  }
  100% {
    border-image-source: linear-gradient(360deg, rgb(0, 210, 210), rgb(0, 210, 210), rgb(195, 255, 255));
  }
}
@-webkit-keyframes borderAseprite {
  0% {
    border-image-source: linear-gradient(0deg, rgb(160, 160, 160), rgb(160, 160, 160), rgb(230, 230, 230));
  }
  25% {
    border-image-source: linear-gradient(90deg, rgb(160, 160, 160), rgb(160, 160, 160), rgb(230, 230, 230));
  }
  50% {
    border-image-source: linear-gradient(180deg, rgb(160, 160, 160), rgb(160, 160, 160), rgb(230, 230, 230));
  }
  75% {
    border-image-source: linear-gradient(270deg, rgb(160, 160, 160), rgb(160, 160, 160), rgb(230, 230, 230));
  }
  100% {
    border-image-source: linear-gradient(360deg, rgb(160, 160, 160), rgb(160, 160, 160), rgb(230, 230, 230));
  }
}
@keyframes borderAseprite {
  0% {
    border-image-source: linear-gradient(0deg, rgb(160, 160, 160), rgb(160, 160, 160), rgb(230, 230, 230));
  }
  25% {
    border-image-source: linear-gradient(90deg, rgb(160, 160, 160), rgb(160, 160, 160), rgb(230, 230, 230));
  }
  50% {
    border-image-source: linear-gradient(180deg, rgb(160, 160, 160), rgb(160, 160, 160), rgb(230, 230, 230));
  }
  75% {
    border-image-source: linear-gradient(270deg, rgb(160, 160, 160), rgb(160, 160, 160), rgb(230, 230, 230));
  }
  100% {
    border-image-source: linear-gradient(360deg, rgb(160, 160, 160), rgb(160, 160, 160), rgb(230, 230, 230));
  }
}

@media (min-width: 724px) and (max-width: 1024px) {
  .padding-screen {
    padding: 50px 100px;
  }
  .technician,
  .conectar,
  .fundamentar {
    height: 900px;
    width: 650px;
  }
}

@media (min-width: 540px) and (max-width: 723px) {
  .padding-screen {
    padding: 50px 50px;
  }
  .technician,
  .conectar,
  .fundamentar {
    height: 600px;
    width: 450px;
  }
}

@media (min-width: 281px) and (max-width: 539px) {
  .vscode,
  .html5,
  .css3,
  .js,
  .react,
  .photoshop,
  .aseprite,
  .git {
    width: 300px;
  }
  .technician,
  .conectar,
  .fundamentar {
    height: 450px;
    width: 300px;
  }
}

@media (min-width: 0px) and (max-width: 280px) {
  .vscode,
  .html5,
  .css3,
  .js,
  .react,
  .photoshop,
  .aseprite,
  .git {
      width: 200px;
  }

  .technician,
  .conectar,
  .fundamentar {
    height: 300px;
    width: 200px;
  }
}

@media (max-height: 600px) {
  .technician,
  .conectar,
  .fundamentar {
    height: 550px;
    width: 400px;
  }
}

@media (min-height: 281px) and (max-height: 414px) {
  .technician,
  .conectar,
  .fundamentar {
    height: 330px;
    width: 250px;
  }
}

@media (min-height: 0px) and (max-height: 280px) {
  .technician,
  .conectar,
  .fundamentar {
    height: 220px;
    width: 150px;
  }
}