*, *:before, *:after {
  font-family: "Russo One", sans-serif;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-track {
  background: #f5f5f5;
}
body.dark-mode::-webkit-scrollbar-track {
  background: rgba(16, 16, 16, 0.8156862745);
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 2px solid rgba(16, 16, 16, 0.8784313725);
}

:root {
  line-height: 24px;
  font-weight: 400;
  color-scheme: light light;
  color: rgba(16, 16, 16, 0.75);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  display: block;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: rgba(65, 65, 65, 0.85);
  text-decoration: inherit;
}

a:hover {
  color: rgba(95, 95, 95, 0.85);
}

body {
  margin: 0;
  display: flex;
  transition: 0.1s ease;
}

.dark-mode {
  color: rgba(255, 255, 255, 0.85);
  background: rgba(20, 20, 20);
}

.dark-mode a {
  color: rgba(210, 210, 210, 0.85);
}

.dark-mode a:hover {
  color: rgba(190, 190, 190, 0.85);
}

h1, h2, h3,
h4, h5, h6,
ul, li, p {
  padding: 0;
  margin: 0;
  list-style: none;
}